.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative; /* Necessário para o posicionamento absoluto dos filtros */
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaçamento entre título e filtro */
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative; /* Necessário para posicionar os filtros abaixo do botão */
}

.link {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s;
}

.link:hover {
    color: #fff;
}

/* Remover o estilo de botão e deixar Filtros como um link */
.filterButton {
    background: none;
    color: #ddd;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.filterButton:hover {
    color: #fff;
}

.filterList {
    position: absolute;
    top: 11px; /* Aparece 35px abaixo do filtro */
    left: 0;
    background-color: #444;
    border: 1px solid #333;
    border-radius: 4px;
    margin-top: 10px;
    list-style: none;
    padding: 10px 0;
    width: 283px;
    z-index: 10;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.filterList li {
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.filterList li:hover {
    background-color: #555;
}

.searchBar {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px; 
    background-color: white;
    color: #333;
    margin-left: 20px;
    transition: border-color 0.2s;
}

.searchBar:focus {
    border-color: #888;
    outline: none;
}
